---
import Layout from '../layouts/Layout.astro';
import { ReactComponent } from '../components/react-component';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="loader">
			Loader...
		</div>
		<div class="react-component">
			<ReactComponent client:only="react" />
		</div>
	</main>
</Layout>

<style>
	.loader {
		display: block;
	}

	.react-component {
		display: none;
	}
</style>

<script>
	(document.querySelector('.loader') as HTMLElement).style.display = "none";
	(document.querySelector('.react-component') as HTMLElement).style.display = "block";
</script>